[user]
    email = 1683065+hstalker@users.noreply.github.com
    name = Hector Stalker
[credential]
    helper = cache
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    pu = push
    df = diff
    dt = difftool
    cl = clone
    me = merge
    rb = rebase
    unstage = reset HEAD --
    last = log -1 HEAD
    cached = diff --cached
    graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%C(blue)%x20(%ce)%x20%C(cyan)%C(reset)%n%x20%s%n"
[color]
    ui = auto
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[push]
    followTags = true
[gpg]
    program = gpg
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
