.python_history


# Unwanted haskell stuff
.ghc

# Unwanted emacs stuff
#*#.*
#*#
.emacs.d/elpa
.emacs.d/auto-save-list/*

# Unwanted vim stuff
.vim/bundle
.vim/.ctrlp_cache
.vim/.undofile

.histfile
.viminfo
.bash_history
.Xauthority
.gnupg
.cache
.dbus

# Python Compiled files
*.pyc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
