[user]
    email = hstalker0@gmail.com
    name = Hector Stalker
[core]
    editor = vim
    whitespace = -indent-with-non-tab,trailing-space
    compression = 9
    autocrlf = false
[diff]
    mnemonicprefix = true
[merge]
    log = true
    ff = false
[push]
    default = simple
[url "https://github.com/"]
    insteadOf = gh:
[web]
    browser = chromium
[alias]
    # show all of my configured aliases
    aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\l\\ \t=> \\2/' | sort
    # package up repo as tarball
    export = archive -o latest.tar.gz -9 --prefix=latest/
    # unstage changes
    unstage = reset HEAD --
    # create a repo and make the initial commit
    initial-commit = !git init && git add -A && git commit -m \"Initial commit.\"
    # trim away old metadata
    trim = !git reflog expire --expire=now --all && git gc --prune=now
    # list all tags
    tags = tag -l
    # return to root directory
    root = rev-parse --show-toplevel
    # remove deleted files
    r = !git ls-files -z --deleted | xargs -0 git rm
    # return a list of commit SHA1s
    l = "!f() { git log $* | grep '^commit ' | cut -f 2 -d ' '; }; f"
[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = red
