[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
  timeout 300 '%h/.local/bin/sway-lock.sh' \
  timeout 600 '%h/.local/bin/sway-lock.sh' \
  resume 'swaymsg "output * dpms on"' \
  before-sleep '%h/.local/bin/sway-lock'
  
[Install]
WantedBy=sway-session.target
