#! /usr/bin/env bash

export ALTERNATE_EDITOR='nano'
export EDITOR='vim'
export VISUAL='vim'

export PATH=~/.local/bin:$PATH

# store the distro name in DISTRO
UNAME=$(uname | tr "[:upper:]" "[:lower:]")
# Handle linux distros
if [ "$UNAME" == "linux" ]; then
  if [ -f /etc/lsb-release -o -d /etc/lsb-release.d ]; then
    export DISTRO=$(lsb_release -i | cut -d: -f2 | sed s/'^\t'//)
  else
    export DISTRO=$(ls -d /etc/[A-Za-z]*[_-][rv]e[lr]* | grep -v "lsb" | cut -d'/' -f3 | cut -d'-' -f1 | cut -d'_' -f1)
  fi
fi

# Last ditch attempt
[ "$DISTRO" == "" ] && export DISTRO=$UNAME
unset UNAME

[ -f "~/.exports.local" ] && source "~/.exports.local"

