#! /usr/bin/env bash

[[ -f ~/.functions ]] && . ~/.functions

export ALTERNATE_EDITOR='nano'
export EDITOR='vim'
export VISUAL='vim'

path-update ~/.local/bin

# store the distro name in DISTRO_ vars
if type lsb_release >/dev/null 2>&1; then
  # A modern generic method
  DISTRO_OS=$(lsb_release -si)
  DISTRO_VERSION=$(lsb_release -sr)
  DISTRO_CODENAME=$(lsb_release -sc)
else
  # Fallback
  DISTRO_OS=$(uname -s)
  DISTRO_VERSION=$(uname -r)
  DISTRO_CODENAME=$DISTRO_VERSION
fi
case $(uname -m) in
  x86_64)
    DISTRO_BITS=64
    ;;
  i*86)
    DISTRO_BITS=32
    ;;
  *)
    DISTRO_BITS=?
    ;;
esac

[[ -f ~/.exports.local ]] && source ~/.exports.local

